.animate_outsideView {
    display: none;
}

.footer-global-container {
    text-align: left;
    padding: 100px 0;
}

.footer-link-wrapper {
    display: flex;
    flex-direction: column;
    font-size: 62px;
    font-weight: 400;
}

.footer-copyright-wrapper {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    justify-content: flex-end;
    font-size: 17px;
    gap: 15px;
}

/* Hover instagram link */
@keyframes link-hover-instagram {
    from {
        color: black;
    }
    to {
        color: #E06219;
    }
}

#footer-link-instagram:hover {
    animation-name: link-hover-instagram;
    animation-duration: 0.5s;
    animation-fill-mode: forwards;
}

/* Unhover instagram link  */
@keyframes link-unhover-instagram {
    from {
        color: #E06219;
    }
    to {
        color: var(--toColor);
    }
}

#footer-link-instagram:not(:hover) {
    animation-name: link-unhover-instagram;
    animation-duration: 0.5s;
    animation-fill-mode: forwards;
}

/* Hover github link */
@keyframes link-hover-github {
    from {
        color: black;
    }
    to {
        color: #ee1280;
    }
}

#footer-link-github:hover {
    animation-name: link-hover-github;
    animation-duration: 0.5s;
    animation-fill-mode: forwards;
}

/* Unhover github link */
@keyframes link-unhover-github {
    from {
        color: #ee1280;
    }
    to {
        color: var(--toColor);
    }
}

#footer-link-github:not(:hover) {
    animation-name: link-unhover-github;
    animation-duration: 0.5s;
    animation-fill-mode: forwards;
}

/* Hover read cv link */
@keyframes link-hover-read-cv {
    from {
        color: black;
    }
    to {
        color: #0000C8;
    }
}

#footer-link-read-cv:hover {
    animation-name: link-hover-read-cv;
    animation-duration: 0.5s;
    animation-fill-mode: forwards;
}

/* Unhover read cv link */
@keyframes link-unhover-read-cv {
    from {
        color: #0000C8;
    }
    to {
        color: var(--toColor);
    }
}

#footer-link-read-cv:not(:hover) {
    animation-name: link-unhover-read-cv;
    animation-duration: 0.5s;
    animation-fill-mode: forwards;
}

.footer-link {
    display: flex;
    align-items: center;
    gap: 15px;
    margin-bottom: 15px;
}

::selection {
    color: white;
    background: black;
}

.footer-link {
    display: flex;
    align-items: center;
}

.footer-link:hover {
    width: auto;
}

.footer-link:hover .icon {
    opacity: 1;
}

.btn-icon {
    margin-left: -75px;
    transition: margin-left 0.3s ease-in-out;
}

.footer-link:hover .btn-icon {
    margin-left: -30px;
}

.icon {
    opacity: 0;
    rotate: 45deg;
    margin-left: -25px;
    transition: opacity 0.3s ease-in-out;
}

/* Mobile devices */
@media screen and (min-width: 320px) and (max-width: 480px) {

    .footer-link-wrapper {
        font-size: 50px;
    }
}

/* iPads, Tablets */
@media screen and (min-width: 481px) and (max-width: 768px) {
    /* Your styles for iPads and tablets */
  }
