.work-global-container {
    text-align: left;
    padding: 160px 0;
}

.work-title-wrapper {
    font-size: 40px;
    font-weight: 300;
}

.project-item-link {
    border: 1px solid transparent; /* Set a transparent border */
    border-radius: 15px;
    margin-bottom: 3rem;
    padding: 15px;
    text-decoration: none !important;
}

.project-item-link.hovered {
    opacity: 0.5;
}

.project-item-link:hover {
    background-color: rgba(255, 255, 255, 0.095) !important;
    border: 1px solid rgba(255, 255, 255, 0.241);
    border-radius: 15px;
}

.project-item-link:hover .icon-work {
    visibility: visible;
    opacity: 1;
}

.project-item-link:hover .work-heading {
    background: linear-gradient(to left, #19cbce, #e1ff00); /* Apply the gradient as background */
    -webkit-background-clip: text; /* Ensure the gradient is clipped to the text */
    background-clip: text; /* Standardize background clipping for text */
    color: transparent; /* Make the text color transparent so the gradient shows */
}

.work-description {
    font-size: 17px !important;
}

.tag-color {
    background-color: #03513a !important;
}

.work-footer-local-container {
    margin-top: 200px;
    display: flex !important;
    justify-content: center !important;
}

.work-footer-wrapper {
    font-size: 40px;
    font-weight: 400;
    text-align: center;
}

.work-clients-wrapper {
    justify-content: space-between;
    gap: 20px;
    margin: 250px 0;
}

.work-clients-image {
    width: 150px;
    display: flex;
    justify-content: center;
}

.work-portfolio-details-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.work-portfolio-text-details {
    font-size: 22px;
    padding: 2px 0;
    font-weight: 400;
}

.discover-link {
    display: inline-block;
    text-decoration: none;
}

.discover-link::after {
    content: '';
    display: block;
    width: 0;
    height: 3px;
    background: #000;
    transition: width .3s;
}

.discover-link:hover::after {
    width: 100%;
}

.icon-work {
    color: #1bb2b5 !important;
    rotate: 45deg;
    transition: visibility 0.2s, opacity 0.2s;
    opacity: 0;
    margin-top: -5px;
    visibility: hidden;
}

/* Mobile devices */
@media screen and (min-width: 320px) and (max-width: 880px) {
    .work-clients-wrapper {
        display: flex;
        gap: 50px;
        flex-direction: column !important;
        align-items: center;
    }

    .work-portfolio-details-wrapper {
        padding-top: 10px;
    }
}